@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

/* width */
.note-info::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
.note-info::-webkit-scrollbar-track {
    background: #cecece;
    border-radius: 5px;
}
 
/* Handle */
.note-info::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 5px;
}
 
/* Handle on hover */
.note-info::-webkit-scrollbar-thumb:hover {
    background: #303030;
}